display-4{
    color: white;
  }

p{
color: white;
}

h3{
font-weight:bold;
}

.bol{
font-weight:bold;
}
.ital{
font-weight:bold;
font-style: italic;
color: grey;
}

.date{
font-style: italic;
color: rgb(83, 77, 77);
}

a{ 
color: black;
text-decoration:none
} 

a:hover{ 
color: royalblue;
text-decoration:none
}

.about{
font-size: 20px;
}

.about_title:hover{
    color: green;
    text-decoration:none
}

h1{
font-weight:bold;
}

h2{
font-weight:bold;
}
  
.bold{
   font-weight: bold; 
}
.jumbotronSubtext{
    font-style: italic;
}
.timeColor {
    color: hotpink;
}
.dateColor {
    color: darkorchid;
}
.inputColor {
    color: firebrick;
}
.outputColor {
    color: slateblue;
}

.register{font-size: 30px;}
.register2{font-size: 40px;font-weight:bold;}

.timerSize{
    font-size: 25px;
    font-weight: bold;
    color: coral;
}
.code{
    font-size:  20px;
    font-weight: bold;
    font-style: italic;
}
.articleText{
    font-size:  20px;
    font-weight: bold;
}
.articleTitle{
    font-size:  45px;
    font-weight: bold;
    font-style: italic;
}
.x{
    margin: auto;
    border: 5px dashed cornflowerblue;
}
.title{
    color : black;
    font-size:  30px;
    font-weight: bold;
}
.title2{
    color : black;
    font-size:  20px;
    font-weight: bold;
}
.textR{
    text-align:right;
    font-size:  30px;
    font-weight: bold;
    font-family:'851MkPOP';
}

.articleMain{
    border: 5px dashed cornflowerblue;
    margin-left: 100px;
    margin-right: 100px;
}
.subTitle{
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-size:40px;
}

.noteText{
    font-size:  20px;
    font-weight: bold;
}
.noteTitle{
    color : blue;
    font-size:  30px;
    font-weight: bold;
    font-family:'851MkPOP';
}

.jumbotron {
    background-image: url("../img/background.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    background-position:right bottom;
    background-position:50% 30%;
    color: aliceblue;
    box-shadow:0px 15px 10px -15px rgb(157, 6, 171);
}

@font-face {
    font-family:'851MkPOP';
    src:url('../font/851MkPOP_002.ttf');
}
@font-face {
    font-family: 'JetBrainsMonoNL-SemiBoldItalic';
    src: url('../font/JetBrainsMonoNL-SemiBoldItalic.ttf');
  }
@font-face {
    font-family:'jf-openhuninn';
    src:url('../font/jf-openhuninn-1.1.ttf');
} 
body{
  font-family: 'JetBrainsMonoNL-SemiBoldItalic' ;
}