{% extends "base.html" %}

{% block title %}About SeaotterMS{% endblock %}

{% block main %}
<!DOCTYPE html>
<div class="col-7">
    <div class="col">
        <h1 class="about_title">About me</h1>
        <span class="about">早安這邊是海獺，常做的事情就是在網路上搜尋奇怪知識胡搞瞎搞，希望有朝一日能成為對周遭的人有貢獻的人。
            蠻喜歡自己動手做的實感，不過也會因為想太多或要求太高而心態炸裂。目前剛成為大學三年級生，希望能在剩沒多少的大學生涯中
            達成一些目標。目前有接觸許多遊戲的拆包，比較有貢獻的為MLTD的日版模型拆包，也有MLTD日版榜線機器人(LineBot)，不過因為
            伺服器需要轉移所以目前正緩慢地用其他伺服器有支援的語言改寫。有興趣歡迎找我的文章來看看或實際跟我交流(我人還好，偶爾發病而已>3)。
        </span><br><br>
        <h2 class="about_title">HOBBY</h2>
        <span class="about">蠻常看動畫的，目前常駐MLTD圈子，在這邊過得很開心，謝謝其他圈關心我的朋友。曾經在邦圈、Mai圈待過，現已退役。
            除了MLTD以外也是個拉拉人，大多動畫都有涉及。<br>
            是個劍與魔法王國上古玩家，不過台服倒後日服要上線不上線的。目前常駐13服，台灣玩家越來越少了，大家都跑去14服了，不過應該不會跳服，繼續等待有緣人陪我一起踏上新的旅程...
        </span><br>
        <span class="about">所以我說我的書籤到底甚麼時候才整理完(X
        </span><br><br>
        <h2 class="about_title">CONTACT ME</h2>
        <ul>
            <li>
                <span class="about">Twitter- <a href="https://twitter.com/seaotterMS">https://twitter.com/seaotterMS</a></span>
            </li>
            <li>
                <span class="about">Youtube- <a href="https://www.youtube.com/channel/UCB4v828kadFN4rK37TdWq3g">https://www.youtube.com/channel/UCB4v828kadFN4rK37TdWq3g</a></span>
            </li>
            <li>
                <span class="about">IT邦- <a href="https://ithelp.ithome.com.tw/users/20138060/profile">https://ithelp.ithome.com.tw/users/20138060/profile</a></span>
            </li>
        </ul>
        <span class="date">posted by.SeaotterMS on 2022/09/11</span>
    </div>
</div>
{% endblock %}