{% extends "base.html" %}

{% block title %}海獺的家{% endblock %}

{% block main %}
<div class="row button-align text-left">
    <div class="col-4 "><a class="title">2020/8 :</a></div>
    <div class="col-4"><a href="/article/0810_PJSK"><button type="button" class="btn btn-info btn-lg">PJSK拆包</button></a></div>
    <div class="col-4"><a href="/article/0817_TenkafuMA"><button type="button" class="btn btn-success btn-lg">天下布魔拆包</button></a></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}