{% extends "base.html" %}

{% block title %}海獺的老家{% endblock %}

{% block main %}
<div class="col-7">
    <div class="col">
        <a href="/article/UmaMusume-TaiwainVerison-unpacking">
            <h3>港(台)版馬娘拆包</h3>
        </a>
        <span class="ital">對，就如標題所說，這到底是甚麼營運模式，小萌的手法早就在巴哈傳得沸沸揚揚的了，不過遊玩人數好像沒下降就是了，跟遊戲橘子一樣...</span><br>
        <span class="date">by.SeaotterMS on 2022/7/16</span>
    </div>
    <hr>
    <div class="col">
        <a href="/article/GVIM-first-try">
            <h3>(G)VIM初探</h3>
        </a>
        <span class="ital">一定會有人希望在Windows上使用vim編輯器吧?那今天就來安裝vim到Windows上吧!...</span><br>
        <span class="date">by.SeaotterMS on 2022/7/12</span>
    </div>
    <hr>
    <div class="col">
        <a href="/article/TenkafuMA-first-unpacking">
            <h3>天下布魔初次拆包</h3>
        </a>
        <span class="ital">最近真的拆上癮了，朋友建議我去拆黃油天下布魔，當然也沒什麼好拒絕的就直接上了，這種遊戲當然不會在Play商店上架，所以直接去官網抓APK包直接安裝，安裝過程很順利，CG圖也很色(?)...</span><br>
        <span class="date">by.SeaotterMS on 2021/8/17</span>
    </div>
    <hr>
    <div class="col">
        <a href="/article/PJSK-first-unpacking">
            <h3>PJSK初次拆包</h3>
        </a>
        <span class="ital">MLTD拆包拆了一段時間，還真的扛不住了，想說轉移跑道拆別的，就跑去PJSK了， 結果找了找，果然有人拆過放教學了，那我就來分享一下這次拆包的經歷好了。(感謝黑鯨大大提供的資料，下面腳本的部分有連結，可以去參觀一下...</span><br>
        <span class="date">by.SeaotterMS on 2021/8/10</span>
        <span class="date float-right"></span>
    </div>
    <hr>
</div>
{% endblock %}