{% extends "base.html" %}

{% block title %}海獺的日記{% endblock %}

{% block main %}
<div class="articleMain imageF">
    <div class="container">
        <h3 class="row noteTitle">20211124:</h3>
        <sapn class="row noteText">
            11/24 5小時/ 🌥<br>
            今天在課堂上大談程式感覺有點靠背，有點不懂裝懂的感覺，雖然那些問題我是真的看的懂。
            回家開始打下禮拜一的報告，運用了圖片讓報告變得美麗一點，我簡報技巧沒白上吧（x
            解題卡超久，用PHP寫我還真的幾乎都解不出來，希望以後PHP能更精進，也需要吸收一點資料結構與演算法，不然只會程式也沒辦法解決問題。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211123:</h3>
        <sapn class="row noteText">
            11/23 3小時/ ？(有下雨嗎)<br>
            期中英文出來了，77，勉強還可以，下課直接跑去公哈，腦漿正常心結，不過其實也還好啦，沒有太多的不爽。
            12/5要去考N5，文法其實很怕，完全不會，根本是去裸考的。今天Leetcode沒寫很多，點到就好，今天蠻放鬆的，很久違的拿起了平板打了LL跟邦邦，話說如果有人知道MLTD台服正式關服時間，麻煩跟我說一下，我會很感激的。
            繼續向前邁出步伐，無論前方有什麼。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211122:</h3>
        <sapn class="row noteText">
            11/22， 3小時， 🌦<br>
            我知道我少發一篇（
            今天算蠻充實的，下午無聊跑到光華打了一道mai，雖然打的很爛，不過現在也沒甚麼在意了。
            再來就開始我的徒步之旅，從光華開始走，延著市民大道走，先是來到了松山文創園區，接著順路到了雷亞餐廳瞄個幾眼走人，最後來到以前的高職，沒進去直接坐捷運回家。
            最近刷題發現一堆自己根本不會的技術，好在群組大佬開教，不然真的不知道自己可以廢到什麼時候。
            以後就固定刷題吧，有寫有進步。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211120:</h3>
        <sapn class="row noteText">
            11/20 睡眠: 9小時 天氣: ❓<br>
            今天雖然有去買午、晚餐可是忘記天氣了。
            今天沒甚麼事情，一直做LeetCode。
            明天回老家，奶奶生日。
            不知道能不能遇見我中央資工系的堂妹。
            今天好像是伊莉雅的生日（
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211119:</h3>
        <sapn class="row noteText">
            11/19 睡眠時間: 6小時半 天氣: ⛅<br>
            今天網站建構滿分，有達到標準，唯一失誤就考完在考場玩手機而已，其實有點怕。
            回家把資料庫架一架，第四代海獺姬正式上線，LeetCode題目做一做，感覺有進步了一些。
            日檢快到了，我還是想繼續打程式，希望我能認真準備。
            祝福著明天，雖然現在時間已經明天了。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211118:</h3>
        <sapn class="row noteText">
            今天考離散，其實蠻簡單的，可惜老毛病跟單純忘記錯了蠻多的，不過已經抓到不緊張考試的感覺了。下午Java手寫程式，也沒想像中的硬，除了字串定義不知道要用什麼定義以外應該都還好，至少問題不大。
            明天考網站建構，作為唯一沒準備的考試其實有點緊張了，雖說應該不會像其他手寫的考試一樣壓力大，可是如果明天沒考滿分一定會超自責，比照去年的Linux，拜託再給我一次滿分吧。
            今天想說清空儲值卡的錢跑去南港打mai，腦漿打整整兩道還是0，蠻累的，打完後直接走人。
            Line機器人撰寫到了讀取資料庫，蠻順利的把資料庫連結搞定了，也搞懂推送失敗的理由(版本問題)，利用-f進行強制推送，今日也暫時畫下了尾聲。
            栗子離開圖書館了，我其實表面都說不檢討自己，其實默默的會一直想是哪裡做錯了，也思考曾經這樣走來的我為什麼變成如此般疲倦，不管從BGD的興衰到mai圈事件，又或者是其他圈子的種種人際關係，我已經走頭無路，雖然心情平靜到幾點，但這也是因應環境扼殺感情的結果，如果想正常，那我也希望這一切是正常且順利的。
            人生不能重來，但可以重新選擇向未來走下去的方法。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211117:</h3>
        <sapn class="row noteText">
            11/17 睡眠時間: 6小時 天氣: 🌦<br>
            音樂概論算是混過去了，下午物連網概論一團糟，還燒到了再來的課導致遲到，下禮拜還要回來收拾殘局，蠻慘的，再次希望明天離散真的沒事。
            意外逛近木棉花網路商店，Liella T-shirt明年三月發售，現在預定中，沒超商繳費難下手，再考慮幾天。
            讀書讀到很煩躁，跑去弄LineBot，把之前沒做的Heroku資料庫串接接起來了，可以算是順利。
            10天左右後日檢，基本上算是裸考，壓力蠻大的，不想沒考過被當笑柄。老實說雖然在各種地方都沒說努力到了極致，但不知為何就是身心俱疲，每次回到家只想攤床上，也覺得人際交流有夠累，不管是網路交友還是實際交友，其實連家人都不好相處，看了很多動畫小說，反到還蠻羨慕劇中人物的，現實世界是殘酷的。
            一個人去哪個山看看風景也好，等一切都穩定下來了再說吧。
            再次希望期中以及日檢一切順利。
            <img src="/static/img/note_image/note02.png" width="216" height="384"></a>
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211116:</h3>
        <sapn class="row noteText">
            11/16 睡眠: 5小時 天氣: ☀<br>
            今天依然在準備段考，後天的離散數學之中的數學歸納法-和諧數列的部分一整個看不懂，也可能是筆記抄不好的關係，反正看不懂。
            明天先考音樂概論，把最不熟的巴洛克時代背一背應該可以拿個基本分，明天整天都被塞滿基本上沒讀書的時間。
            希望後天離散不會爆炸，蠻無力的。
            一直在思考背科強的我為什麼會走資訊這塊路
            想炫技一定是一點，但主要還是沒有方向，沒興趣吧。
            越大就越來越覺得快來不及了，只能希望前途順利？不不不，沒有能力是不用思考這些的，往哪邊走至少要學的開心以及獲得一技之長，我在資訊上並沒有感受到。
            其實家人都是隨便選職業的，很佩服他們選了後可以努力做下去，有著不管學什麼都不會感到無力的自信，或許也是因為年代差距，現在才比較容易產生這些想法，其實都是自己的藉口。
            總要為了人生負責一次吧，希望明天的自己能更加進步。 
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20211010:</h3>
        <sapn class="row noteText">
            Glowmap MIDI(怕忘記):<a href="https://www.youtube.com/watch?v=t4vdYUmWED8">Glowmap</a>
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20210915:</h3>
        <sapn class="row noteText">
            鐵人賽開賽兩天了!網址在這:<a href="https://ithelp.ithome.com.tw/users/20138060/ironman/3885">鐵人賽</a>
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20210817:</h3>
        <sapn class="row noteText">
            好幾天沒更新純粹是我懶(X，天下布魔拆包也好了，可以去文章那邊看。老實說教授這次丟的API串接真的做不了，別人的程式我根本沒看懂，我也脫離Flutter一年了，根本不用想。打機的部分，20號快到了，真的很希望在這短短的兩天可以打到機，20號除了是我生日也同時是音擊活動完結的日子，希望可以打到......
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20210811:</h3>
        <sapn class="row noteText">
            完蛋，鐵人賽都沒在打，到時候9月開賽真的會完蛋，今天直接回來拆工連好了，聽說沒加密好像不難。MLTD那邊應該無解了，好像需要一台真的iphone，沒越獄也無法，不敢拿平板試，風險太大。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20210810:</h3>
        <sapn class="row noteText">
            初音拆包成功，詳情可以看這篇文章<a href="article/0810_PJSK">PJSK拆包心得</a>
            話說真的很想嘴一下政府政策，開泳池不開機廳，真的是太聰明了，所以游泳就不會群聚，不會中肺炎?政府就最好是在泳池放隔板，然後不要讓水流通，換人下去之前就先換一次水。<br>
            <img src="/static/img/note_image/note081001.png" class="imageD"></a>
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20210809:</h3>
        <sapn class="row noteText">
            今天收了一堆專輯，稍微報告一下爬蟲進度，拆包除了Unity版本以外，沒有任何收穫，真的該想下一步要做甚麼了。
            鐵人賽放置中，好懶得寫。
        </span>
    </div>
    <div class="container">
        <h3 class="row noteTitle">20210808:</h3>
        <sapn class="row noteText">
            其實今天也很想弄MLTD密鑰，是不是要重新嘗試riru il2cppdumper呢?
            若真的要弄可能要再費一段時間呢，教學不足，需要懂得技術也很多，鐵人賽也要忙，希望教授別再刁難我們了，
            爬蟲進度也還是那樣，可以利用動態爬蟲(webdriver)爬取Google景點網址，可是無法從網址中取得資料。
        </span>
    </div>
</div>
{% endblock %}