{% extends "base.html" %}

{% block title %}(G)VIM初探{% endblock %}

{% block main %}
<div class="col-7">
    <span class="about">一定會有人希望在Windows上使用vim編輯器吧?那今天就來安裝vim到Windows上吧!<br><br>
        1. 先去官網下載Windows的版本:
        <a target="view_window" href="https://www.vim.org/download.php">https://www.vim.org/download.php</a>
        <img src="../../static/articleImage/GVIM-first-try/01.png" class="img-thumbnail"><br>
        <img src="../../static/articleImage/GVIM-first-try/02.png" class="img-thumbnail"><br>
        點擊連結下載。<br><br>
        2. 安裝Vim，記得要安裝批次檔案，不然會沒辦法使用文字模式。
        <img src="../../static/articleImage/GVIM-first-try/03.png" class="img-thumbnail"><br>
        <img src="../../static/articleImage/GVIM-first-try/04.png" class="img-thumbnail"><br>
        <img src="../../static/articleImage/GVIM-first-try/05.png" class="img-thumbnail"><br><br>
        3. 再來要設定環境變數，路徑如下:
        <img src="../../static/articleImage/GVIM-first-try/06.png" class="img-thumbnail"><br><br>
        4. 在powershell或cmd上輸入測試:
        <img src="../../static/articleImage/GVIM-first-try/07.png" class="img-thumbnail"><br><br>
        可以使用啦!!!<br>有的時候對於Linux使用者真的使用Vim會方便許多呢~
        <img src="../../static/articleImage/GVIM-first-try/08.png" class="img-thumbnail"><br><br>
    </span><br><br>
    <span class="date">by.SeaotterMS on 2022/7/12</span>
</div>
{% endblock %}